body{
    margin: 0;
    padding: 0;
}


.overall{
    display: flex;
    background-color: whitesmoke;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width:100% ;
    
}

.overall_login{
    padding-top: 250px;
    padding-bottom: 100;
    margin-bottom: 100px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    padding: 50px 100px;
    border-radius: 5px;
}

.log{
    margin-left: 55px;
}

.inputbox{

    display: flex;
    border-width: 20px;
    margin-left: 25px;
    border: none;
    margin: 0px;
    
}

.inputbox1{
    padding-bottom: 25px;
}

.forgetpass{
    font-size: 13px;
    margin-left: 73px;
    padding-bottom:40px;

}

.forgetpass a{
    text-decoration: none;
}

.usepass{
    padding-top: 4px;
    padding-bottom: 5px; 
    padding-right: px;
    padding-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    border-width: 2px;
    cursor: pointer;
}

.button{
    margin-left: 35px;
    padding: 5px 30px 5px 30px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    font-weight: bold;
    background-color: rgba(2, 69, 123, 0.868);
    color: white;
    cursor: pointer;
}

.signup a{
    text-decoration: none;
    font-size:15px;
}

::placeholder{
    color: black;
}